<html lang="en">
	<head>
	<!-- Ref: https://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
	<title>Hello, Chatbot!</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles -->
	<link rel="stylesheet" href="./static/css/chatbot.css" rel="stylesheet">

	</head>
	<body>
		
		<div class="container-fluid">
			<!-- Navigation bar as a heading -->
			<nav class="row navbar fixed-top navbar-dark bg-dark">
				<span class="navbar-brand ml-2 mb-0 h1">WebChatbot</span>
			</nav>

			<ul class="row list-group" id="displayMessage">
				<li class='list-group-item text-left' style='background-color: rgba(243, 175, 180, 0.18); border-color: rgba(120, 120, 120, 0.15);'>Hi I am Chatbot! Tell me something.</li>
			</ul>

			<!-- Form as a footer-->
			<form class="row fixed-bottom text-light bg-dark" id="myForm" action="/" method="POST">
				<input class="form-control mx-4 my-2" type="text" id="inputUserMessage" name="message" placeholder="Type a message">
				<input type="submit" style="display:none">
			</form>
		</div>

		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

		<!-- Custom JavaScript -->
		<script src="./static/js/chatbot.js"></script>		
	</body>
</html>